* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    overflow-x: hidden;
}

/*flex布局的基础设置，将一行看做十二列*/
.row {
    display: flex;
    /*四个内边距*/
    padding: 5px 5px 5px 5px;
    /*允许换行，这样用一个row套若干个column即可*/
    flex-wrap: wrap;
}

/*父元素等宽*/
.col-12 {
    flex: 0 0 99%;
}

/*父元素5/6*/
.col-10 {
    flex: 1 1 81%;
}

/*父元素3/4*/
.col-9 {
    flex: 0 0 74%;
}

/*父元素2/3*/
.col-8 {
    flex: 0 0 66%;
}

/*父元素一半*/
.col-6 {
    flex: 0 0 48%;
}

/*父元素1/3*/
.col-4 {
    flex: 0 0 33%;
}

/*父元素1/4*/
.col-3 {
    flex: 0 0 24%;
}

/*父元素1/6*/
.col-2 {
    flex: 0 0 16.6%;
}

/*超链接样式，颜色，无下划线*/
.top-a, .top:link {
    color: #eee;
    text-decoration: none;
}

/*伪类样式，鼠标悬停颜色*/
.top-a:hover {
    color: #fff;
}

.top {
    height: 60px;
    /*background: linear-gradient(to bottom, rgb(38, 50, 56), rgb(144, 164, 174));*/
    background-color: rgb(105, 173, 244);
    color: #d5d5d5;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 50px;
}

.top ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.top .left-ul li {
    flex: 0 0 160px;
}

.top .right-ul li {
    flex: 0 0 70px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 6px;
}

.container {
    width: 85%;
    margin: 0 auto;
}

footer {
    height: 40px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 3px dashed #ddd;
}

footer ul {
    list-style: none;
    display: flex;
    padding: auto 10px auto 10px;
}

footer ul li {
    font-size: 12px;
    color: #aaaaaa;
    margin-right: 10px;
}






.box {
    list-style: none;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    margin-right: 50px;
}

.right-a {
    text-decoration: none;
}

.recommend-span, .span-num, .right-a {
    font-family: 楷体;
    font-size: 23px;
    color: #333333;
}


.right-a:active {
    font-size: 30px;
    font-weight: bolder
}

.right-a:hover {
    color: #9b9b9b;
}

.right-num {
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.span-num {
    font-size: 20px;
    font-family: 幼圆;
}

.num-icon {
    margin-top: -2px;
}
